<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634078606915-4e26hau3mllp8b45to9m3a5rbedkmht1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634078606915-4e26hau3mllp8b45to9m3a5rbedkmht1</string>
	<key>API_KEY</key>
	<string>AIzaSyBtAdjkC-3gBlOJ0Dgn-2fU0LR9FZq-aJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>634078606915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seldom.sams</string>
	<key>PROJECT_ID</key>
	<string>sams-1b591</string>
	<key>STORAGE_BUCKET</key>
	<string>sams-1b591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634078606915:ios:19ea06f1009933f26d46f6</string>
</dict>
</plist>